In [1]:
"""Question 1 - Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tupl  """

In [2]:
a = "siddhant"

In [3]:
a

'siddhant'

In [4]:
type (a)

str

In [5]:
b = [12, 87, "pwskills", 65.87, False]

In [6]:
b

[12, 87, 'pwskills', 65.87, False]

In [7]:
type (b)

list

In [10]:
c = 3.14

In [11]:
type(c)

float

In [12]:
d = ("apple", "banana", "cherry", "apple", "cherry")

In [13]:
type (d)

tuple

In [14]:
""" Question 4 - Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type """

In [ ]:
list = ["siddhant", 22, 23.76, True, "pwskills", False, 1, 3.14, True, 'kumar' ]

In [17]:
type (list)

list

In [19]:
i=0
for i in list :
    print(i)
    print(type(i))

siddhant
<class 'str'>
22
<class 'int'>
23.76
<class 'float'>
True
<class 'bool'>
pwskills
<class 'str'>
False
<class 'bool'>
1
<class 'int'>
3.14
<class 'float'>
True
<class 'bool'>
kumar
<class 'str'>

In [20]:
"""question 6- Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not """

In [19]:
A = [3, 5, 7, 9, 12, 14, 15, 67, 66, 87, 999, 123, 5456, 6666, 22, 987, 6454, 94846, 654, 34345, 6354, 74645, 64528, 65, 90]
i = 0
for i in range(len(A)):
    if i%3 == 0 :
        print( A[i], "is divisible by 3")
    else :
        print( A[i], "is not divisible by 3")
i = i+1

3 is divisible by 3
5 is not divisible by 3
7 is not divisible by 3
9 is divisible by 3
12 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
67 is not divisible by 3
66 is not divisible by 3
87 is divisible by 3
999 is not divisible by 3
123 is not divisible by 3
5456 is divisible by 3
6666 is not divisible by 3
22 is not divisible by 3
987 is divisible by 3
6454 is not divisible by 3
94846 is not divisible by 3
654 is divisible by 3
34345 is not divisible by 3
6354 is not divisible by 3
74645 is divisible by 3
64528 is not divisible by 3
65 is not divisible by 3
90 is divisible by 3

In [20]:
""" Question 7 - Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property. """

In [21]:
     ### Mutable object

In [22]:
list = ["apple", "guava", "orange"]

In [23]:
list

['apple', 'guava', 'orange']

In [24]:
type (list)

list

In [25]:
hex(id(list))

'0x7f6a2d5dd840'

In [26]:
list[0] = "jamun"

In [27]:
list

['jamun', 'guava', 'orange']

In [28]:
hex(id(list))

'0x7f6a2d5dd840'

In [29]:
    ### Immutable object

In [30]:
name = "Siddhant"

In [31]:
type (name)

str

In [33]:
name[1]

'i'

In [34]:
name[1] = "e"

TypeError: 'str' object does not support item assignment

In [35]:
hex(id(name))

'0x7f6a2d53f770'

In [36]:
name.append(ite)

AttributeError: 'str' object has no attribute 'append'

In [37]:
name = name + "ite"

In [38]:
name

'Siddhantite'

In [39]:
hex(id(name))

'0x7f6a3f3be3b0'

In [40]:
""" Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**  """

In [41]:
20/4 ## / is used for division

5.0

In [42]:
20%4 ## % modulus operator gives remainder as result

0

In [43]:
20//3  ## floor division operator gives round off result to nearest whole number

6

In [44]:
3**2  ## exponential operator will give 3 power 2

9

In [45]:
""""Question 2 - Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1 """

In [46]:
# Var1 is string

In [47]:
# Var2 is string

In [48]:
# Var3 is List

In [49]:
# Var4 is integer

In [1]:
""" Answer to question 5 - Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible. """

' Answer to question 5 '

In [5]:
A= int(input("value of A"))
B= int(input("value of B"))
count = 0
while A >= B:
    if A%B ==0:
        print("A is divisible by B")
        count += 1
        print("A is divided by B", count, "times")
    else:
        print ("A is not divisible by B")
    break

value of A 12
value of B 12

A is divisible by B
A is divided by B 1 times